/* Deafult Margin & Padding */

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #2e2e35;
  color: #dadada;
  width: 100%;
  overflow-x: hidden;
}
/*======================= Margin Top =======================*/

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-70 {
  margin-top: 70px;
}

/*======================= Margin left =======================*/

.ml-30 {
  margin-left: 30px;
}

/*======================= Margin Right =======================*/

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

/*======================= Margin Bottom =======================*/

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

/*======================= Padding Top =======================*/

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-120 {
  padding-top: 120px;
}

/*======================= Padding Bottom =======================*/

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-120 {
  padding-bottom: 120px;
}

/*============================ Padding Left =========================*/

.pl-15 {
  padding-left: 15px;
}

.pl-30 {
  padding-left: 30px;
}

/*======================= Padding Right =======================*/

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

/* ===================== Background Color =========================== */

.grey-bg {
  background-color: #f7f9ff;
}

.white-bg {
  background-color: #fff;
}

.black-bg {
  background-color: #222;
}

/*========================== Color ===================================== */

.white {
  color: #fff;
}

.black {
  color: #222;
}

/*============================ Black Overlay ============================== */

[data-overlay] {
  position: relative;
}

[data-overlay]::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

[data-overlay="3"]::before {
  opacity: 0.3;
}

[data-overlay="4"]::before {
  opacity: 0.4;
}

[data-overlay="5"]::before {
  opacity: 0.5;
}

[data-overlay="6"]::before {
  opacity: 0.6;
}

[data-overlay="7"]::before {
  opacity: 0.7;
}

[data-overlay="8"]::before {
  opacity: 0.8;
}

[data-overlay="9"]::before {
  opacity: 0.9;
}
