@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Poppins&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.font-small {
  font-size: small;
}
.flex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about {
  line-height: 1.4;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(212, 212, 212);
  font-size: 2.5rem;
}

.react,
.firstName {
  color: white;
}

.react:hover {
  color: #61dafb;
}
