@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Poppins&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.font-small {
  font-size: small;
}
.flex-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about {
  line-height: 1.4;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(212, 212, 212);
  font-size: 3rem;
  margin-left: 2rem;
}

.react,
.firstName {
  color: white;
}

.react:hover {
  color: #61dafb;
}
.header {
  padding-left: 2.5rem;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 768px) {
  .projectPadding {
    padding-right: 15px;
  }
}

.projectPadding {
  padding-right: 1rem;
}

.blogPadding {
  padding-right: 1rem;
}
